<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            color: red;
        }
    </style>
</head>
<body>
    <div id="testing">
        <button @click="clickMe()">Click Me</button>

        <h1>{{ number }}</h1>
        <button @click="dec()">Decrease</button>
        <button @click="inc()">Increase</button>
        <p v-if="number < 0">It is minus number.</p>
        <p v-if="number == 0">It is zero.</p>
        <p v-if="number > 0">It is plus number.</p>

        <input type="text" v-model="myText" v-on:keyup.enter="send()">
        <button @click="send()">Send</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    let app = new Vue({
        el: '#testing', 
        data: {
            number: 0,
            myText: 'this is shit post'
        },
        methods: {
            clickMe() {
                alert('hello');
            },
            dec() {
                this.number--;
            },
            inc() {
                this.number++;
            }, 
            send() {
                console.log(this.myText);
                this.myText = '';
            }
        }
    })
</script>
</html>