<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="testing">
        <h3>To Do List</h3>
        <input type="text" placeholder="Enter Pizza Name" v-model="pizzaData.name">
        <small style="color: red" v-if="validation.nameStatus">Pizza name is required!</small><br>
        <input type="text" placeholder="Enter Pizza Price" v-model="pizzaData.price">
        <small style="color: red" v-if="validation.priceStatus">Price is required!</small><br>
        <button @click="create()">Add</button>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="item in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    let app = new Vue({
        el: '#testing', 
        data: {
            pizzaData: {
                name: '',
                price: ''
            },
            items: [],
            validation: {
                nameStatus: false,
                priceStatus: false
            }
        },
        methods: {
            create() {
                this.validationCheck();

                if(!this.validation.nameStatus && !this.validation.priceStatus){
                    this.items.push({
                    id: this.items.length + 1,
                    name: this.pizzaData.name,
                    price: this.pizzaData.price,
                    })
                    this.clear();
                }
            },
            validationCheck() {
                this.validation.nameStatus = this.pizzaData.name == '' ? true : false;
                this.validation.priceStatus = this.pizzaData.price == '' ? true : false;
            },
            clear() {
                this.pizzaData.name = '';
                this.pizzaData.price = '';
            }
        }
    })
</script>
</html>